.app {
  text-align: center;
}

.title {
  font-size: 40px;
  margin-top: 50px;
}

.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.card {
  width: 100px;
  height: 150px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  perspective: 1000px;
  transition: transform 0.3s;
}

.card.flipped {
  transform: rotateY(180deg);
}

.card.matched {
  background-color: #d3d3d3;
  cursor: default;
}

.card .front,
.card .back {
  backface-visibility: hidden;
}

.card .front {
  background-color: #6c757d;
}

.card .back {
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  color: white;
}
